<ng-container #childMenuNav>
	<ng-container *ngFor="let child of items">

		<mat-accordion *ngIf="child.children && child.children.length > 0">
			<mat-expansion-panel [disabled]="child.disabled">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<app-my-icon [iconName]='child.iconName'></app-my-icon>
						{{child.displayName}}
					</mat-panel-title>
				</mat-expansion-panel-header>

				<app-sidenav-item #menu [items]="child.children"></app-sidenav-item>

			</mat-expansion-panel>
		</mat-accordion>

		<ng-container *ngIf="!child.children || child.children.length === 0">
			<a mat-list-item [routerLink]="child.route"  [ngClass]="{'isDisabled' : child.disabled}">
				<app-my-icon [iconName]='child.iconName'></app-my-icon>
				{{child.displayName}}
			</a>
		</ng-container>

	</ng-container>
</ng-container>

