<div class="container">

	<div class="row pt-5">
		<div class="col-md-6 mx-auto">

			<mat-card class="p-4">

				<mat-card-header class="my-4">
					<mat-card-title>Change Password</mat-card-title>
				</mat-card-header>
				
				<mat-form-field class="w-100 mb-3">
					<input matInput placeholder="Actual Password" [formControl]="password" required>
					<mat-error *ngIf="password.invalid">{{errorpassword}}</mat-error>
				</mat-form-field>

				<mat-form-field class="w-100 mb-3">
					<input matInput placeholder="New Password" [formControl]="newpassword" required>
					<mat-error *ngIf="newpassword.invalid">{{errornewpassword}}</mat-error>
				</mat-form-field>

				<button mat-raised-button color="primary" class="w-100 mb-3">Login</button>


			</mat-card>

		</div>
	</div>

</div>