.main-sidenav-menu{
	.material-icons{
		font-size: 1rem !important;
	}

	.mat-expansion-panel{

		border-radius: 0 !important;
	
		&:not([class*=mat-elevation-z]){
			box-shadow: none;
		}
	
		&-header{
			padding-left: 16px !important;
			border-radius: 0 !important;
		}
	
	}
	
	.mat-expansion-panel-spacing{
		
		.mat-expansion-panel-header{
			//background: rgba(0,0,0,.04) !important;
			background: $sidenav-submenu-header-background !important;
	
			&:hover{
				background: $sidenav-submenu-header-background-hover !important;
			}
			
		}
		
	}
	
	
	
	.mat-expansion-panel-body {
		padding: 0 !important;
	
		.mat-expansion-panel-header-title {
			padding-left: 16px !important;
			color: $sidenav-submenu-header-color;
	
			&:hover{
				color: $sidenav-submenu-header-color-hover;
			}
		}
		
		.mat-list-item{
			padding-left: 16px !important;
		}
	
		.mat-expansion-panel-body {
			padding-bottom: 0 !important;
			.mat-list-item{
				padding-left: 32px !important;
			}
		}	
	
	}
	
}
