<!--
	<app-main-menu>
		<app-home></app-home>
	</app-main-menu>
-->

<mat-sidenav-container class="example-container">

	<!-- Sidenav Left -->
	<mat-sidenav #sidenav [(mode)]='mode' [(opened)]="opened" (closed)='opened=false'>

		<mat-toolbar color="primary">Menu</mat-toolbar>
		<!---<button mat-button (click)="sidenav.toggle()">Toggle</button> -->

		<mat-nav-list class="main-sidenav-menu">
			<ng-container *ngFor="let item of navItems">

				<mat-accordion *ngIf="item.children && item.children.length > 0">
					<mat-expansion-panel [disabled]="item.disabled">
						<mat-expansion-panel-header>
							<mat-panel-title>
								<mat-icon>{{item.iconName}}</mat-icon>
								{{item.displayName}}
							</mat-panel-title>
						</mat-expansion-panel-header>

						<app-sidenav-item #menu [items]="item.children"></app-sidenav-item>

					</mat-expansion-panel>
				</mat-accordion>
				
				<ng-container *ngIf="!item.children || item.children.length === 0">
					<a mat-list-item [routerLink]="item.route" [ngClass]="{'isDisabled' : item.disabled}">
						<app-my-icon [iconName]='item.iconName'></app-my-icon>
						{{item.displayName}}
					</a>
				</ng-container>
				
			</ng-container>
		</mat-nav-list>

	</mat-sidenav>
	<!-- /Sidenav Left -->

	<!-- App Content -->
	<mat-sidenav-content>

		<mat-toolbar color="primary" class="container-fluid">
			<mat-toolbar-row class="container-fluid">

				<div class="col-12 col-md-auto px-0">
					<a mat-button [routerLink]="['/']">
						Angular Starter App 
						
						<app-my-icon iconName='close'></app-my-icon>
					</a>

					<button mat-button class="d-inline-block d-md-none float-right" (click)="openSideNav('over')">
						<mat-icon class="example-icon" aria-hidden="false">
							menu
						</mat-icon>
					</button>		
				</div>
				
				<!-- Nav Right Toolbar -->
				<div class="row d-none d-md-flex ml-md-auto">
					
					<mat-toolbar class="" color="primary">
						<span *ngFor="let item of navItems">
							<!-- Handle branch node buttons here -->
							<span *ngIf="item.children && item.children.length > 0">
								<button mat-button [matMenuTriggerFor]="menu.childMenu" *ngIf=item.disabled class="isDisabled" [disabled]="item.disabled">
									<app-my-icon [iconName]='item.iconName'></app-my-icon>
									{{item.displayName}}
								</button>
								<a mat-button [matMenuTriggerFor]="menu.childMenu" *ngIf=!item.disabled>
									<app-my-icon [iconName]='item.iconName'></app-my-icon>
									{{item.displayName}}
								</a>
								<app-menu-item #menu  [items]="item.children"></app-menu-item>
							</span>
							<!-- Leaf node buttons here -->
							<span *ngIf="!item.children || item.children.length === 0">
								<button mat-button *ngIf=item.disabled class="isDisabled" [disabled]="item.disabled">
									<app-my-icon [iconName]='item.iconName'></app-my-icon>
									{{item.displayName}}
								</button>
								<a mat-button *ngIf=!item.disabled>
									<app-my-icon [iconName]='item.iconName'></app-my-icon>
									{{item.displayName}}
								</a>
							</span>
						</span>
					</mat-toolbar>

				</div>
				<!-- /Nav Right Toolbar -->

			</mat-toolbar-row>
		</mat-toolbar>


	</mat-sidenav-content>
</mat-sidenav-container>

