<!--
	<app-main-menu>
		<app-home></app-home>
	</app-main-menu>
-->

<mat-sidenav-container class="example-container">

	<mat-sidenav #sidenav [(mode)]='mode' [(opened)]="opened" (closed)='opened=false'>

		<mat-toolbar color="primary">Menu</mat-toolbar>
		<!---<button mat-button (click)="sidenav.toggle()">Toggle</button> -->

		<!--
		<mat-nav-list>
			<a mat-list-item href="#">Link 1</a>

			<a mat-list-item>Link 2</a>

			<mat-accordion>
				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							SubMenu 3
						</mat-panel-title>
					</mat-expansion-panel-header>

					<a mat-list-item href="#">SubMenu 3.1</a>

				</mat-expansion-panel>
			</mat-accordion>

			<mat-accordion>
				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							Sub Menu 4
						</mat-panel-title>
					</mat-expansion-panel-header>

					<mat-accordion>
						<mat-expansion-panel>
							<mat-expansion-panel-header>
								<mat-panel-title>
									Sub Menu 4.1
								</mat-panel-title>
							</mat-expansion-panel-header>

							<a mat-list-item href="#">Sub Menu 4.1.1</a>
							
						</mat-expansion-panel>
					</mat-accordion>
					
				</mat-expansion-panel>
			</mat-accordion>


			<a mat-list-item href="#">Link 3</a>
		</mat-nav-list>
		-->
		 
		<mat-nav-list>
			<ng-container *ngFor="let item of navItems">

				
				
				<mat-accordion *ngIf="item.children && item.children.length > 0">
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>
								{{item.displayName}}
							</mat-panel-title>
						</mat-expansion-panel-header>

						<app-sidenav-item #menu [items]="item.children"></app-sidenav-item>

					</mat-expansion-panel>
				</mat-accordion>
				
				<ng-container *ngIf="!item.children || item.children.length === 0">
					<a mat-list-item [routerLink]="item.route">
						{{item.displayName}}
					</a>
				</ng-container>
				
			</ng-container>
		</mat-nav-list>

		<!--
		<mat-toolbar class="" color="primary">
			<span *ngFor="let item of navItems">

				<span *ngIf="item.children && item.children.length > 0">
					<button mat-button [matMenuTriggerFor]="menu.childMenu" [disabled]="item.disabled">
						{{item.displayName}}
					</button>
					<app-sidenav-item #menu [items]="item.children"></app-sidenav-item>
				</span>

				<span *ngIf="!item.children || item.children.length === 0">
					<a mat-button [routerLink]="item.route">
						{{item.displayName}}
					</a>
				</span>
			</span>
		</mat-toolbar>
		-->

	</mat-sidenav>

	<mat-sidenav-content>

		<mat-toolbar color="primary" class="container-fluid">

			<mat-toolbar-row class="container-fluid">

				<div class="col-12 col-md-auto px-0">
					<a mat-button [routerLink]="['/']">
						Angular Starter App
					</a>

					<button mat-button class="d-inline-block d-md-none float-right" (click)="openSideNav('over')">
						<mat-icon class="example-icon" aria-hidden="false">
							menu
						</mat-icon>
					</button>		
				</div>
				
				<div class="row d-none d-md-flex ml-md-auto">

					<!-- 
					<a mat-button href="https://www.facebook.com/">
							<i class="fab fa-facebook-f"></i>
					</a>

					<a mat-button [matMenuTriggerFor]="animals">
						Animal index
					</a>

					<mat-menu #animals="matMenu">
						<a mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</a>
					</mat-menu>

					<mat-menu #invertebrates="matMenu">
						<a mat-menu-item>Insects</a>
						<a mat-menu-item>Molluscs</a>
						<a mat-menu-item>Crustaceans</a>
					</mat-menu>
					-->
					
					<mat-toolbar class="" color="primary">
						<span *ngFor="let item of navItems">
							<!-- Handle branch node buttons here -->
							<span *ngIf="item.children && item.children.length > 0">
								<button mat-button [matMenuTriggerFor]="menu.childMenu" [disabled]="item.disabled">
									{{item.displayName}}
								</button>
								<app-menu-item #menu [items]="item.children"></app-menu-item>
							</span>
							<!-- Leaf node buttons here -->
							<span *ngIf="!item.children || item.children.length === 0">
								<a mat-button [routerLink]="item.route">
									{{item.displayName}}
								</a>
							</span>
						</span>
					</mat-toolbar>

				</div>


			</mat-toolbar-row>
		</mat-toolbar>

		

	</mat-sidenav-content>
</mat-sidenav-container>

