<div class="container">

	<div class="row pt-5">
		<div class="col-md-6 mx-auto">

			<mat-card class="p-4">

				<mat-card-header class="my-4">
					<mat-card-title>Register</mat-card-title>
				</mat-card-header>

				<mat-form-field class="w-100 mb-3">
					<input matInput placeholder="Enter your email" [formControl]="email" required>
					<mat-error *ngIf="email.invalid">{{ errorEmail }}</mat-error>
				</mat-form-field>
				
				<mat-form-field class="w-100 mb-3">
					<input matInput placeholder="Enter your password" [formControl]="password" required>
					<mat-error *ngIf="password.invalid">{{ errorPassword }}</mat-error>
				</mat-form-field>

				<button mat-raised-button color="primary" class="w-100 mb-3">Register</button>


			</mat-card>

		</div>
	</div>

</div>