/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "./scss/bootstrap/bootstrap-grid.scss";

@import "./scss/vars.scss";
@import "./scss/material/main-sidenav.scss";


html, body{
	margin: 0;
}

.main-menu-toolbar{
	.material-icons{
		font-size: 1rem !important;
	}
}

.isDisabled {
  color: currentColor !important;
  cursor: not-allowed !important;
	opacity: 0.3;
	text-decoration: none;
}

.mat-expansion-panel-header[aria-disabled=true]{
	cursor: not-allowed !important;
}

