/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "./scss/bootstrap/bootstrap-grid.scss";


html, body{
	margin: 0;
}

.mat-expansion-panel-spacing{
	
	.mat-expansion-panel-header{
		background: rgba(0,0,0,.04) !important;
	}
	
}

.mat-expansion-panel-header{
	padding-left: 16px !important;
	border-radius: 0 !important;
}


.mat-expansion-panel{
	border-radius: 0 !important;
}

.mat-expansion-panel-body {
	padding: 0 !important;
	
	.mat-list-item{
		padding-left: 16px !important;
	}

	.mat-expansion-panel-body {
		padding-bottom: 0 !important;
		.mat-list-item{
			padding-left: 32px !important;
		}
	}

	
	.mat-expansion-panel-header-title {
		padding-left: 16px !important;
	}

}

